<h4 class="text-center">Registre-se e mostre seu pet ao mundo!</h4>

<form class="form mt-4" [formGroup]="novoUsuarioForm" (submit)="cadastrar()">
    <div class="form-group">
        <input placeholder="e-mail" class="form-control" formControlName="email" type="email" />
    </div>
    <div class="form-group mt-2 mb-2">
        <input placeholder="nome completo" class="form-control" formControlName="fullName" type="text" />
    </div>
    <div class="form-group mt-2 mb-2">
        <input placeholder="usuario" class="form-control" formControlName="userName" type="text" />
    </div>
    <div class="form-group mt-2 mb-2">
        <input placeholder="senha" class="form-control" formControlName="password" type="password" />
    </div>
    <button class="btn btn-primary btn-block">Cadastro</button>
</form>

<p>Já é um usuário?<a [routerLink]="['']">Faça login!</a></p>